.section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey-light-2);
    min-height: 100vh;

    @include respond(phone) {
        padding: 4rem;
    }
}