.header {
    font-size: 7.2rem;
    color: var(--color-grey-dark-3);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;

    &--white {
        color: #fff;
    }

    @include respond(tab-land) {
        line-height: 7.2rem;
    }

    @include respond(phone) {
        line-height: 6.4rem;
        font-size: 6.4rem;
    }
}

.subcontent-header {
    font-size: 2.4rem;
    color: var(--color-grey-dark-3);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    line-height: 2.4rem;
}

.description {
    font-size: 1.6rem;
    color: var(--color-grey-dark-2);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;

    &--white {
        color: #fff;
    }
}